/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities/general/clearfix";

a{
  @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);
}


body{
  overflow:hidden;
  .content{
    background:red;
    margin:0 auto;
    height:100%;
    @include clearfix;
    .column{
      float:left;
      position:relative;
      .header{
        position:fixed;
        height:20px;
        background:#000;
      }
    }
    .wrap-group{
      .group{
        a{
          display:block;
          position:relative;
          header, footer{
            position:absolute;
            top:0;
            left:0;
          }
        }
      }
    }
    .wrap-item{
      position:absolute;
      top:0;
      left:0;
    }
  }
  .wrap-scroller{
    position:absolute;
    right:0;
    top:20px;
    width:20px;
    height:100%;
    .scroller{
      position:absolute;
      width:16px;
      top:0;
      right:4px;
      background:#333;
      height:50px;
    }
  }
}






@import "mediaquery.scss";
@media only screen and (max-width : 1200px) {
  @include media-thin;
}
@media only screen and (min-width : 1200px) {
  @include media-wide;
}