/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities/general/clearfix";

a{
  @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);
}


body{
  overflow:hidden;
  .content{
    background:red;
    margin:0 auto;
    height:100%;
    @include clearfix;
    .column{
      float:left;
    }
  }
}






@import "mediaquery.scss";
@media only screen and (max-width : 1200px) {
  @include media-thin;
}
@media only screen and (min-width : 1200px) {
  @include media-wide;
}