/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
a {
  color: #0000cc;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #cccccc;
}
/* line 21, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #cccc00;
}
/* line 24, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #00cccc;
}
/* line 27, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #cc00cc;
}

/* line 17, ../sass/screen.scss */
body {
  overflow: hidden;
}
/* line 19, ../sass/screen.scss */
body .content {
  background: red;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 24, ../sass/screen.scss */
body .content .column {
  float: left;
}

@media only screen and (max-width : 1200px) {
  /* line 2, ../sass/mediaquery.scss */
  .content {
    width: 980px;
  }
  /* line 4, ../sass/mediaquery.scss */
  .content .column {
    width: 200px;
  }
}
@media only screen and (min-width : 1200px) {
  /* line 10, ../sass/mediaquery.scss */
  .content {
    width: 1200px;
  }
  /* line 12, ../sass/mediaquery.scss */
  .content .column {
    width: 230px;
  }
}
